* {
  box-sizing: border-box;
  margin: 0;
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #fffb08, #ff5100);
}

input {
  height: 40px;
  padding: 5px 10px;
  border-width: 0 0 3px 0;
  border-color: #ff5100;
}

input:focus {
  border-width: 3px;
  border-color: #ff5100;
}

.search-container {
  position: relative;
}

.search-container input,
.search-container .suggestions {
  background-color: rgba(255, 255, 255, 0.3);
}

.search-container .suggestions {
  position: absolute;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  position: relative;
}

ul li {
  padding: 10px;
}

ul li:hover {
  background-color: #ff5100;
  cursor: pointer;
}

ul li:nth-child(n+6) {
  display: none;
}

span {
  font-weight: bold;
}